# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build folders
build/
dist/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Docker volumes
mysql_data/
